@charset "UTF-8";

body {
	background-color: DarkGray;
}

h1 {
	border-style: solid;
	border-color: rgb(109, 31, 198);
	border-width: 5px 10px 5px 10px;
	background-color: rgb(157, 104, 218);
	color: white;
	text-align: center;
	font-size: 50px;
	font-family: Georgia, Arial, "Times New Roman";
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(94, 193, 211);
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(20, 162, 188);
}

div {
	border-style: solid;
	border-color: rgb(19, 166, 187);
	border-width: 3px 6px 3px 6px;
	background-color: rgb(93, 197, 211);
	color: White;
	text-align: center;
	font-size: 30px;
	font-family: Georgia, "Times New Roman", Arial;
	margin: 10px;
}

.pic {
	background-color: rgb(255, 253, 110);
	border-style: solid;
	border-color: rgb(255, 252, 21);
	border-width: 5px 10px 5px 10px;
	padding: 10px;
}